.movie_image {
    position: relative;
    border: 2px solid #d8232a;
}

p.movie_option {
    font-size: 15px;
    margin-bottom: 15px;
    color: #070707;
}
p.movie_option.movie_optionDark{
    color: white;
}
p.movie_option a{
    color:#555;
}
.img-responsive{
    max-width: 100%;
    max-width: 100%;
}
.movie_box{
    display: flex;
}
.desc1{
    margin-left: 5%;
}
.images_3_of_2{
    flex-basis: 26%;
}
.description{
    color: #070707;
    font-size: 18px;
}
.description.descriptionDark{
    color: aliceblue;
}
