/*style={{background: '#090926'}}*/
/*background: 'dimgrey'*/

.container.dark{
    background: #020b17
}
.cards__item.dark {
    background: darkslategray;
}
.cards__title.dark {
    color: aliceblue;
}
.cards__btn.dark{
 background: #004c99;
    color: #fff;
}
.cards__btn_danger.dark{
    background: #970000;
    color: #fff;
}


.header_dark{
background: #001529;
}
.textThemeDark{
    color: aliceblue;
    font-size: 18px;
    padding: 5px 5px 5px 15px;
    cursor: pointer;
}
.card_dark{
    background: #001529 !important;
    border: none !important;
}
.meta_card_dark{
    background: #151e2a;
}
.contentDark{
    background: #020b17;
}



